@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bars {
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.5);
  }
}
@keyframes plats {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
* {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
  margin: 0px;
}

.titre {
  font-family: "Shrikhand", cursive;
}

.titre_menu {
  font-weight: 100;
}

.fa-heart {
  font-size: 1.5em;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

figcaption {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0%;
}

i {
  margin-right: 5px;
}

.div_loader {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  animation: loader 600ms 1500ms ease-out both;
}
.div_loader__div_logo {
  width: 200px;
  height: 100px;
}
.div_loader__div_logo img {
  object-fit: contain;
}
.div_loader__div_bars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 80px;
}
.div_loader__div_bars__div_bar {
  height: 100%;
  width: 40px;
  animation: bars 600ms ease-in-out;
}
.div_loader .div_bar--1 {
  background-color: #9256dc;
  animation-delay: 300ms;
}
.div_loader .div_bar--2 {
  background-color: #FF79DA;
  animation-delay: 600ms;
}
.div_loader .div_bar--3 {
  background-color: #99E2D0;
  animation-delay: 900ms;
}

button {
  cursor: pointer;
  color: white;
  background: linear-gradient(to top, #9256dc, #FF79DA);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 1px 3px #c8c8c8;
  padding: 15px;
  min-width: 180px;
  transition: all 600ms;
}
button:hover {
  background: linear-gradient(to top, #a06be0, #ff93e1);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
}

.div_coeur {
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
}
.div_coeur .coeur {
  position: absolute;
}

.coeur--hover {
  opacity: 0;
  background: linear-gradient(to bottom, #9256dc, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.div_coeur:hover .coeur {
  opacity: 0;
}
.div_coeur:hover .coeur--hover {
  opacity: 1;
  transition: opacity 600ms ease-out;
}

.hdr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.hdr__div_logo {
  height: 80%;
  width: 60%;
}
.hdrnav_restaurant {
  height: 80%;
  width: 20%;
}
.hdr img {
  object-fit: contain;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 10px;
  padding-left: 10%;
  min-height: 200px;
}
footer h3, footer i, footer a {
  color: white;
}

.form_recherche {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f2f2f2;
  border-top: 2px solid #c8c8c8;
  height: 250px;
  padding-bottom: 30px;
}
.form_recherche__div_recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  padding: 5px;
  width: 97%;
  height: 30px;
}
.form_recherche__div_recherche input {
  background-color: #e6e6e6;
  border: none;
  padding-left: 15px;
}
.form_recherche__div_recherche input:active {
  border: #c8c8c8;
}
.form_recherche__div_description {
  text-align: center;
}

.sct_menu {
  background-color: #f2f2f2;
  padding-bottom: 20px;
}
.sct_menu__div_img {
  width: 100%;
  height: 350px;
}
.sct_menu__div_titre {
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 12px;
}
.sct_menu__div_menu {
  position: relative;
  bottom: 50px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding: 12px;
}
.sct_menu__div_menu__div_titre {
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 20px;
  width: 50px;
}
.sct_menu__div_menu__div_plat {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 1px 3px #c8c8c8;
  margin-bottom: 20px;
  padding-left: 12px;
  width: 96%;
  height: 100px;
}
.sct_menu__div_menu__div_plat--1 {
  animation: plats 600ms 300ms both;
}
.sct_menu__div_menu__div_plat--2 {
  animation: plats 600ms 600ms both;
}
.sct_menu__div_menu__div_plat--3 {
  animation: plats 600ms 900ms both;
}
.sct_menu__div_menu__div_plat--4 {
  animation: plats 600ms 1200ms both;
}
.sct_menu__div_menu__div_plat--5 {
  animation: plats 600ms 1500ms both;
}
.sct_menu__div_menu__div_plat--6 {
  animation: plats 600ms 1800ms both;
}
.sct_menu__div_menu__div_plat--7 {
  animation: plats 600ms 2100ms both;
}
.sct_menu__div_menu__div_plat--8 {
  animation: plats 600ms 2400ms both;
}
.sct_menu__div_menu__div_plat--9 {
  animation: plats 600ms 2700ms both;
}
.sct_menu__div_menu__div_plat--10 {
  animation: plats 600ms 3000ms both;
}
.sct_menu__div_menu__div_plat div {
  margin: 0px;
}
.sct_menu__div_menu__div_plat__div_description {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  overflow: hidden;
  flex: 1;
}
.sct_menu__div_menu__div_plat__div_description h3, .sct_menu__div_menu__div_plat__div_description p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sct_menu__div_menu__div_plat__div_prix {
  text-align: right;
  align-self: flex-end;
  padding-right: 12px;
  width: 20%;
}
.sct_menu__div_menu__div_plat--div_check {
  transform-origin: 100%;
  transform: scaleX(0);
  transition: transform 1000ms;
  background-color: #99E2D0;
  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 22px;
  padding-bottom: 22px;
}
.sct_menu__div_menu__div_plat--div_check i {
  transition: transform 600ms;
  color: white;
  font-size: 1.5em;
}
.sct_menu__div_menu__div_plat:hover .sct_menu__div_menu__div_plat--div_check {
  transform: scaleX(1);
  width: 20%;
}
.sct_menu__div_menu__div_plat:hover i {
  transform: rotate(1turn);
}
.sct_menu__div_bouton {
  position: relative;
  bottom: 50px;
  text-align: center;
}

.sct_presentation {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding: 12px;
  height: 300px;
}
.sct_presentation__div_fonctionnement {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 0px 1px 3px #c8c8c8;
  border-radius: 15px;
}
.sct_presentation__div_fonctionnement .p_nombre {
  color: white;
  text-align: center;
  background-color: #9256dc;
  position: relative;
  right: 10px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}
.sct_presentation__div_fonctionnement p {
  margin-right: 15px;
}
.sct_presentation__div_fonctionnement i {
  color: #c8c8c8;
}
.sct_presentation__div_fonctionnement:hover {
  background-color: #f1eafb;
}
.sct_presentation__div_fonctionnement:hover i {
  color: #9256dc;
}

.sct_restaurants {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  padding: 12px;
  padding-bottom: 30px;
}
.sct_restaurants__div_titre {
  margin-top: 30px;
  margin-bottom: 30px;
}
.sct_restaurants__art_restaurant {
  position: relative;
  box-shadow: 0px 1px 3px #c8c8c8;
  border-radius: 15px;
  margin-bottom: 30px;
  width: 100%;
}
.sct_restaurants__art_restaurant figure {
  margin: 0;
  height: 180px;
  width: 100%;
}
.sct_restaurants__art_restaurant figure img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.sct_restaurants__art_restaurant__div_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 12px;
  padding-right: 12px;
  height: 90px;
}
.sct_restaurants__art_restaurant--div_nouveau {
  position: absolute;
  background-color: #99E2D0;
  top: 10px;
  right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sct_restaurants__art_restaurant--div_nouveau p {
  color: #217460;
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
