button {
    color: white;
    background: linear-gradient(to top, $primary_color, $secondary_color);
    border: none;
    border-radius: 25px;
    @include box-shadow;
    padding: 15px;
    min-width: 180px;
}