.div_coeur {
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
    .coeur {
        position: absolute;
    }
}

.coeur--hover{
    opacity: 0;
    scale: 1.05;
    background: linear-gradient(to bottom, $primary_color, $secondary_color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.div_coeur:hover {
    .coeur {
        opacity: 0;
    }
    .coeur--hover {
        opacity: 1;
        transition: opacity 600ms ease-out;
    }
}  