body {
    display: flex;
    justify-content: center;
}

.bloc_page {
    width: 100%;
    max-width: 1280px;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

figcaption{
    display: none;
}

ul {
    list-style: none;
    padding-left: 0%;
}

i {
    margin-right: 5px;
}