.sct_presentation{
    @include flex_column;
    padding: 12px;
    padding-top: 30px;
    div {
        margin-bottom: 30px;
    }
    &__div_fonctionnement {
        display: flex;
        align-items: center;
        background-color: $color_grey;
        box-shadow:  0px 1px 3px $color_greyest;
        border-radius: 15px;
        .p_nombre{
            color: $color_white;
            text-align: center;
            background-color: $primary_color;
            position: relative;
            right: 10px;
            border-radius: 10px;
            height: 20px;
            width: 20px;
        }
        p {
            margin-right: 15px;
        }
        i {
            color: $color_greyest;
        }
        &:hover {
            background-color: $primary_color_lighten_2;
            i {
                color: $primary_color;
            }
        }
    }
}

.sct_restaurants {
    @include flex_column;
    background-color: $color_grey;
    padding: 12px;
    padding-bottom: 30px;
    &__div_titre {
        margin-top: 30px;
        margin-bottom: 30px
    }
    &__art_restaurant{
        position: relative;
        @include box-shadow;
        border-radius: 15px;
        margin-bottom: 30px;
        width: 100%;
        figure {
            margin: 0;
            height: 180px;
            width: 100%;
            img {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
        }
        &__div_description {
            @include flex_row;
            background-color: $color_white;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            padding-left: 12px;
            padding-right: 12px;
            height: 90px;
        }
        &--div_nouveau {
            position: absolute;
            background-color: $tertiary_color;
            top: 10px;
            right: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            p {
                color: $tertiary_color_darker;
                margin: 0px;
            }
        }
    }
    &__art_restaurant:hover {
        @include box-shadow_hover;
    }
}

@media screen and (min-width: 768px) {
    .sct_presentation {
        @include flex_row;
        flex-flow: wrap;
        &__div_titre {
            width: 100%;
        }
        &__div_fonctionnement {
            width: 30%;
        }
    }
    .sct_restaurants {
        @include flex_row;
        flex-flow: wrap;
        &__div_titre {
            width: 100%;
        }
        &__art_restaurant {
            width: 48%;
        }
    }
}