@mixin flex_column {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

@mixin flex_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin position_menu {
    position: relative;
    bottom: 50px;    
}

@mixin box-shadow {
    box-shadow:  0px 1px 3px $color_greyest;
}

@mixin box-shadow_hover {
    box-shadow: 0px 2px 6px $color_black;
}