$text_font-family: 'Roboto', sans-serif;
$title_font-family: 'Shrikhand', cursive;

$primary_color:#9256dc;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;

$color_white: rgb(255, 255, 255);
$color_grey: rgb(242, 242, 242);
$color_greyer: rgb(230, 230, 230);
$color_greyest: rgb(200, 200, 200);
$color_black: rgba(0, 0, 0, 0.8);