.sct_menu {
    background-color: $color_grey;
    padding-bottom: 20px;
    width: 100%;
    &__div_img {
        width: 100%;
        height: 350px;
    }
    &__div_titre {
        @include position_menu;
        @include flex_row;
        background-color: $color_grey;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 12px;
    }
    &__div_menu {
        @include position_menu;
        @include flex_column;
        margin-bottom: 20px;
        padding: 12px;
        &__div_titre {
            border-bottom: 3px solid $tertiary_color;
            margin-bottom: 20px;
            width: 50px;
        }
        &__div_plat {
            cursor: pointer;
            @include flex_row;
            background-color: $color_white;
            border-radius: 15px;
            @include box-shadow;
            margin-bottom: 20px;
            padding-left: 12px;
            height: 100px;
            @for $plat from 1 through 10 {
                &--#{$plat} {
                    animation: plats $anim_plat-dur $anim_plat-delay*$plat both;
                }
            }
            div {
                margin: 0px;
            }
            &__div_description {
                @include flex_column;
                overflow: hidden;
                flex: 1;
                h3,p {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 12px;
                }
            }
            &__div_prix{
                text-align: right;
                align-self: flex-end;
                padding-right: 12px;
                width: 20%;
            }
            &--div_check{
                background-color: $tertiary_color;
                text-align: center;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                padding-top: 20px;
                padding-bottom: 20px;
                transform: scaleX(0);
                transform-origin: 100%;
                transition: transform 600ms ease-in-out;
                i {
                    transition: transform 600ms;
                    color: $color_white;
                    font-size: 1.8em;
                    transform: rotate(-180deg);
                }
            }
            &:hover {
                .sct_menu__div_menu__div_plat--div_check {
                    transform: scaleX(1);
                    width: 20%;
                }
                i {
                    transform: rotate(0deg);
                }
            }
        }
    }
    &__div_bouton{
        @include position_menu;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .sct_menu {
        @include flex_row;
        justify-content: space-evenly;
        flex-flow: wrap;
        &__div_titre {
            justify-content: space-around;
            padding: 0px;
            width: 100%;
        }
        &__div_menu {
            width: 45%;
        }
        &__div_bouton{
            width: 100%;
        }
    }
}