.sct_banniere__div_img {
    height: 350px;
}

.sct_menu, .footer_menu {
    @include position_menu;
}

.sct_menu {
    background-color: $color_grey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 12px;
    div {
        margin-bottom: 20px;
    }
    &__div_titre {
        @include flex_row;
    }
    &__div_menu {
        @include flex_column;
        &__div_titre {
            border-bottom: 3px solid $tertiary_color;
            width: 50px;
        }
        &__div_plat {
            @include flex_row;
            background-color: $color_white;
            border-radius: 15px;
            @include box-shadow;
            padding-left: 12px;
            width: 96%;
            height: 100px;
            div {
                margin: 0px;
            }
            &__div_description {
                @include flex_column;
                overflow: hidden;
                flex: 1;
                h3,p {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            &__div_prix{
                text-align: right;
                align-self: flex-end;
                padding-right: 12px;
                width: 20%;
            }
            &--div_check{
                transform-origin: 100%;
                transform: scaleX(0);
                transition: transform 1000ms;
                background-color: $tertiary_color;
                text-align: center;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                padding-top: 22px;
                padding-bottom: 22px;
                i {
                    transition: transform 1000ms;
                    color: $color_white;
                    font-size: 1.5em;
                }
            }
            &:hover {
                .sct_menu__div_menu__div_plat--div_check {
                    transform: scaleX(1);
                    width: 20%;
                }
                i {
                    transform: rotate(1turn);
                }
            }
        }
    }
    &__div_bouton{
        text-align: center;
    }
}